@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@font-face {
  font-family: 'AlphaWood';
  src: url('../src/assets/Fonts/AlphaWood.ttf') format('truetype');
}

* {
  font-family: 'Orbitron', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 102, 255, 0.523);
}

.main-loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.chat-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.Login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.Login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #a3b1c6, -10px -10px 10px #fff0f0;
  width: 25%;
  height: 45%;
}

/* .Login-card:hover {

        } */

.Login-title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'AlphaWood';
  letter-spacing: 4px;
  font-size: 2.5rem;

}

.Login-input {
  width: 80%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 10px 10px 10px #d1e3fd, -10px -10px 10px #fff0f0;
  font-weight: 200;
  font-size: 1.0rem;
}

.Login-input:focus {
  outline: none;
  box-shadow: inset 0 0 5px #f0c7ff, inset 0 0 5px #ffcfcf;
}

.Login-button {
  width: 30%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: 10px 10px 10px #d1e3fd, -10px -10px 10px #fff0f0;

  font-size: 1.2rem;
}

.Login-button:hover {
  background-color: #ffd3d3;
}


.google-login {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid #d1e3fd;
  box-shadow: 10px 10px 10px #d1e3fd, -10px -10px 10px #fff0f0;

  margin: 20px auto;
}

.google-logo {
  width: 60px;
  height: 60px;
  cursor: pointer;

}

.google-logo:hover {
  transform: scale(1.5);
  transition: transform 0.5s linear;

}

.highlight {
  color: #ff0000;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1025px) {
  .Login-card {
    width: 60%;
    height: 50%;
  }

  .Login-input {
    width: 80%;
  }

  .Login-button {
    width: 40%;
  }

}

@media screen and (max-width: 650px) {
  .Login-card {
    width: 85%;
    height: 50%;
  }

  .Login-input {
    width: 85%;
  }

  .Login-button {
    width: 40%;
  }

}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 6vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.navbar-logo,
.user-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #ff0000, -2px -2px 2px #00fbff;
}

.user-logo {
  margin-bottom: 0px;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 55px;
  border-radius: 50px;
  padding: 20px 0 20px 0;
  margin: 0.5rem 0;

  /* box-shadow: 3px 3px 3px #a3b1c6, -3px -3px 3px #fff0f0; */

  background-color: #ffffff;
  flex-grow: 1;
}

.item,
.sating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-item {
  width: 40px;
  height: 40px;
  margin: 10px 0;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 2px #ff0000, -2px -2px 2px #00fbff;
  overflow: hidden;
  background-image: url('../src/assets/images2/dragon_9.jpg');
  background-size: cover;
}

.navbar-item-logo {
  width: auto;
  height: auto;
}

.navbar-item:hover {
  background-color: #eaeaea;
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    width: 100vw;
    height: 60px;
    top: 0;
    top: auto;
    flex-wrap: nowrap;
  }

  .navbar-title {
    display: none;
  }

  .navbar-list {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    background-color: #fff;
  }

  .item,
  .sating {
    flex-direction: row;
    gap: 10px;
  }

  .navbar-item {
    width: 30px;
    height: 30px;
    margin: 0;
  }



  .navbar-logo,
  .user-logo {
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
  }

}




.chat-main {
  display: flex;
 
  justify-items: center;
  width: 80vw;
  height: 100vh;
  margin: 20px 0;

}

.massege-body {
  height: 80vh;
  background-color: #00fbff;
  overflow: scroll;
    overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.chat-title{
  width: 80vw;
}


.userclass {
  display:flex;
  justify-content: right;
  width: 100%;
}

.assistanclass {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
}