@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@font-face {
  font-family: 'AlphaWood';
  src: url('../src/assets/Fonts/AlphaWood.ttf') format('truetype');
}

* {
  font-family: 'Orbitron', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.904);
  background-image: url('./model.png');
  background-size: 680px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100vh;
}


.Login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.Login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #a3b1c6, -10px -10px 10px #fff0f0;
  width: 25%;
  height: 45%;
}

/* .Login-card:hover {

        } */

.Login-title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'AlphaWood';
  letter-spacing: 4px;
  font-size: 2.5rem;

}

.Login-input {
  width: 80%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 10px 10px 10px #d1e3fd, -10px -10px 10px #fff0f0;
  font-weight: 200;
  font-size: 1.0rem;
}

.Login-input:focus {
  outline: none;
  box-shadow: inset 0 0 5px #f0c7ff, inset 0 0 5px #ffcfcf;
}

.Login-button {
  width: 30%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: 10px 10px 10px #d1e3fd, -10px -10px 10px #fff0f0;

  font-size: 1.2rem;
}

.Login-button:hover {
  background-color: #ffd3d3;
}


.google-login {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid #d1e3fd;
  box-shadow: 10px 10px 10px #d1e3fd, -10px -10px 10px #fff0f0;

  margin: 20px auto;
}

.google-logo {
  width: 60px;
  height: 60px;
  cursor: pointer;

}

.google-logo:hover {
  transform: scale(1.5);
  transition: transform 0.5s linear;

}

.highlight {
  color: #ff0000;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1025px) {
  .Login-card {
    width: 60%;
    height: 50%;
  }

  .Login-input {
    width: 80%;
  }

  .Login-button {
    width: 40%;
  }

}

@media screen and (max-width: 650px) {
  .Login-card {
    width: 85%;
    height: 50%;
  }

  .Login-input {
    width: 85%;
  }

  .Login-button {
    width: 40%;
  }

}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 6vw;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.navbar-logo,
.user-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #fff;
}

.user-logo {
  margin-bottom: 0px;
}

.item,
.sating {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.buttons {
  display: none;
}
.dialog-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.dialog{
  position: absolute;
}
@media screen and (max-width: 780px) {
  .navbar {
    position: absolute;
    top: 2;
    left: 5;
  }

  .navbar-logo {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }

  .buttons {
    position: fixed;
    top: 16px;
    left: 16px;

    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}


.chat-main {
  position: relative;
  z-index: 1;
  top: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 5px;
  width: 80vw;
  height: 98vh;
  margin: 0.5rem 0 0 0;
  background-color: #30303088;
  backdrop-filter: blur(4px);
  border-radius: 20px;
}


.message-body {
  position: relative;
  border-radius: 10px;
  width: 80vw;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* remove scroll-behavior: smooth for JS momentum */
  -webkit-overflow-scrolling: touch;
  /* keep for mobile */
  scrollbar-width: none;
  /* hide scrollbar */
  scroll-snap-type: none;
  /* prevent snapping while momentum scrolling */
}

.message-body::-webkit-scrollbar {
  display: none;
}

.message-input {
  position: relative;
  bottom: 0;
  width: 80vw;
  height: 10vh;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  color: #000000;
}

.message-title {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px #a3b1c6, -3px -3px 3px #fff0f0;
  backdrop-filter: blur(8px);
  margin: 0 0 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: 'AlphaWood';
  font-size: 2rem;
  color: white;
  /* default */
  mix-blend-mode: difference;
  text-transform: uppercase;
}


.itsMeClass {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
  width: auto;
  position: relative;
  right: 0;
  padding: 15px 10px;
  margin: 15px 10px;
  font-family: Verdana, sans-serif;
}

.msg-rol {
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 5px;
  width: fit-content;
  text-transform: uppercase;
  height: fit-content;
  background-color: #000000;
  color: white;
  border-radius: 4px;
  user-select: none;
  box-shadow: 3px 3px 3px #77ff00, -5px -5px 5px #00e1ff;

}

.msg-prompt {
  font-size: 1.1rem;
  font-weight: 100;
  font-family: sans-serif;
  text-align: left;
  padding: 10px;
  margin: 0 5px 0 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #77ff00, -5px -5px 5px #00e1ff;
  max-width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkify-class {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.assistantclass {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
  width: 50%;
  padding: 15px 10px;
  border-radius: 10px;

}

.otherUserClass {
  display: flex;
  justify-content: left;
  width: auto;
  position: relative;
  left: 0;
  padding: 15px 10px;
  margin: 15px 10px;
  font-family: Verdana, sans-serif;
}



@media screen and (max-width: 1024px) {

  .chat-main,
  .message-body,
  .message-input {
    width: 75vw;
  }

  .assistantclass {
    width: 70%;
    align-items: center;
    margin: 15px auto;
  }

}

@media screen and (max-width: 780px) {

  .chat-main,
  .message-body,
  .message-input {
    width: 100vw;
    border-radius: 0;
    margin: 0;
  }


  .message-title {
    font-size: 1.2rem;
    padding: 0 5px;
    text-align: center;
  }

  .assistantclass {
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
  }

  .itsMeClass,
  .otherUserClass {
    width: 100%;
    flex-direction: column;
    font-size: 0.9rem;
    margin: 50px 0;
    padding: 0;
  }

  .itsMeClass {
    align-items: flex-end;
  }

  .itsMeClass .msg-rol {
    display: flex;
    flex-direction: row-reverse;
    color: #ff0000;
    width: fit-content;
    margin: 10px 0 10px 0;
    padding: 8px 16px;
    border-radius: 10px 0 0 10px;
  }

  .assistantclass .msg-rol {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: fit-content;
    justify-content: center;
    margin: 10px auto;
    padding: 8px;

  }

  .otherUserClass .msg-rol {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px 0 10px 0;
    padding: 8px 16px;
    border-radius: 0 10px 10px 0;
  }

  .msg-prompt {
    font-size: 1rem;
  }

  .msg-rol {
    font-size: 0.8rem;
  }

  .chat-history {
    display: none;
  }
}

.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #2c2c2c;
  padding: 5px 10px;
  width: 90%;
  margin: 20px auto;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
}


.styles-input {
  display: flex;
  flex-grow: 1;
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 100;
  font-family: sans-serif;
  outline: none;
  padding: 5px 10px;
  scrollbar-width: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  resize: none;
}



.styles-icon {
  margin: 0 8px;
  color: #fff;
  cursor: pointer;
  /* cursor: url('../src/assets/images2/model.png'), url('../src/assets/images2/dragon_9.jpg'), url('../src/assets/images2/dragon_9.jpg'), auto; */
}



@media screen and (max-width: 780px) {
  .chat-input-wrapper {
    padding: 8px 12px;
  }

  .chat-input-wrapper input {
    font-size: 14px;
  }
}





.container {
  display: flex;
  width: fit-content;
  font-family: sans-serif;
}

.mobile-toggle {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  background: #ffffff;
  box-shadow: 1px 1px 3px #77ff00, -2px 0px 9px #00e1ff;
  color: #000000;
  padding: 8px;
  z-index: 1000;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar {
  width: 8vw;
  background-color: #30303088;
  backdrop-filter: blur(4px);
  color: #000000;
  display: flex;
  margin: 10px;
  border-radius: 40px 40px;
  flex-direction: column;
  padding: 16px 16px 0 16px;
  gap: 10px;
  position: relative;
  z-index: 99;
  height: 98vh;
  justify-content: space-between;
}

.sidebar.collapsed {
  width: 60px;
  min-width: 60px;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.toggle-collapse-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 8px;

}

.sidebar h2 {
  font-size: 21px;
  display: flex;
  justify-content: center;
  color: #000000;
  margin-bottom: 10px;
}

.chat-list {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  scrollbar-width: none;
}

.chat-button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 8px;
  /* background: none; */
  font-family: Verdana, sans-serif;
  border: none;
  color: #000000;
  font-size: 12px;
  padding: 8px 0;
  width: 100%;
  cursor: pointer;
  background: #fff;
  margin: 14px 0;
  padding: 4px;
  border-radius: 5px;
}

.chat-button:hover {
  color: #ff00f7;
  font-weight: bolder;
}

.chat-button.active {
  color: #ff0000;
}

.chat-button .icon {
  font-size: 16px;

}

.icon.active {
  font-size: 16px;
  color: #ff0000;
}



.icon-new-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: auto;
  padding: 14px 0;
  margin: 17px 0;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}

.icon-new-chat:hover {
  color: #ff0000;
  border: none;
}





.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-top: 1px solid #333;
  width: auto;
  padding: 0 8px;
  margin: auto;
  height: 50px;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #77ff00, -5px -5px 5px #00e1ff;

}

.footer-link {
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.content {
  flex: 1;
  padding: 24px;
}

@media (max-width: 1025px) {
  .sidebar {
    width: 10vw;
    padding: 16px 4px 0 4px;
  }

  .icon-new-chat {
    padding: 6px 6px;
    width: fit-content;
    margin: 14px auto 0 auto;
  }

}

@media (max-width: 768px) {
  .mobile-toggle {
    display: flex;
  }

  .sidebar {
    position: fixed;
    width: auto;
  }

  .toggle-collapse-btn {
    display: none;
  }

  .icon-new-chat {
    margin: 60px auto 0 auto;
  }

}

.on-loader {
  position: relative;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  margin: auto;
  background: white;
  border-radius: 50px;
  box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
    inset 15px 15px 10px rgba(255, 255, 255, 0.55),
    -15px -15px 35px rgba(255, 255, 255, 0.55),
    inset -1px -1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  width: 80%;
  aspect-ratio: 1 / 1;
  background: #acbaca;
  border-radius: 50%;
  box-shadow: 5px 5px 15px #152b4a66,
    inset 5px 5px 15px rgba(255, 255, 255, 0.55),
    -6px -6px 10px rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle::before {
  content: '';
  position: absolute;
  inset: 4%;
  border-radius: 50%;
  background: linear-gradient(#2196f3, #e91e63);
  animation: animateLoader 2s linear infinite;
}

.circle::after {
  content: '';
  position: absolute;
  inset: 12%;
  border-radius: 50%;
  background: #ffffff;
  background-image: url('./model.png');
  background-size: cover;

}

.loader {
  position: absolute;
  inset: 4%;
  background: linear-gradient(#2196f3, #e91e63);
  border-radius: 50%;
  animation: animateLoader 2s linear infinite;
  filter: blur(20px);
  mix-blend-mode: plus-lighter;
  z-index: 1;
}

.loader::after {
  content: '';
  position: absolute;
  inset: 40%;
  border-radius: 50%;
  background: #ecf8ff;
  animation: animateLoader 2s linear infinite;
}



@keyframes animateLoader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}