/* Login */

body {
  background-color: hsl(0, 100%, 91%);
  font-family: 'Orbitron', sans-serif;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #a3b1c6, -10px -10px 10px #fff0f0;
  /* box-shadow: inset 10px 20px 10px #a3b1c6, inset -10px -20px 10px #ffffff; */
  width: 25%;
  height: 40%;
}

.Login-title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
}

.Login-input {
  width: 80%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 10px 10px 10px #d1e3fd, -10px -10px 10px #fff0f0;

}

.Login-input:focus {
  outline: none;
  box-shadow: inset 0 0 5px #f0c7ff, inset 0 0 5px #ffcfcf;
}

.Login-button {
  width: 30%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: 10px 10px 10px #d1e3fd, -10px -10px 10px #fff0f0;
}

.Login-button:hover {
  background-color: #ffd3d3;
}